* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#navbar {
  display: flex;
  direction: row;
  margin: 0;
  background-color: #36433a;
  width: 100%;
}

#navMenu {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-around;
  width: 50%;
  font-size: 20px;
  min-height: 300px;
}

#navMenu a {
  text-decoration: none;
  color: white;
  margin-top: 5%;
}

#image-card {
  position: absolute;
  width: 100%;
  top: 10%;
  right: 25%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  background-color: white;
  margin-left: 100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  border-radius: 25px;
}

#photo {
  background-image: url(../images/ever.jpg);
  width: 80%;
  height: 400px;
  background-repeat: no-repeat; 
  display: inline-block;

}
#info-section {
  display: flex;
  width: 100%;
}

#spacer {
  min-height: 20em;
}


.page-wrapper {

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "about-me test"
    "work test";
}

.page-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: "work project1 project2";


}
#about {
  display: grid;
}

#about-me {

  grid-area: about-me;

}

#test {
  grid-area: test;
}

#work {

  grid-area: work;
}

#project1{
  grid-area: project1;
}

#project2{
  grid-area: project2;
}