* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}

a {
  text-decoration: none;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  margin: 0;
  text-align: right;
  padding: 3% 5%;

}

p {
  margin: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#navbar {
  display: flex;
  direction: row;
  margin: 0;
  background-color: #36433a;
  width: 100%;
}

#navMenu {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-around;
  width: 50%;
  font-size: 20px;
  min-height: 300px;
}

#navMenu a {
  text-decoration: none;
  color: white;
  margin-top: 5%;
}

#image-card {
  position: absolute;
  width: 100%;
  top: 10%;
  right: 25%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  background-color: white;
  margin-left: 100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 25px;
}

#photo {
  background-image: url(../images/ever.jpg);
  width: 80%;
  height: 400px;
  background-repeat: no-repeat;
  display: inline-block;

}

#info-section {
  display: flex;
  width: 100%;
}

#spacer {
  min-height: 20em;
}



.page-wrapper {
  margin: 0 5%;
}


.two-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "about-me about-info";
}

.page-section {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "work feature-project feature-project"
    "work project2 project3"
    "work project4 project5"
    "work project4 project6";
}

/* .contact-grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "contact-heading contact-info";
} */



.heading {}

.grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 3px solid green;

}

#about-heading {
  grid-area: about-me;
  border-right: 2px solid green;


}

#about-info {
  grid-area: about-info;
  margin: 25px 5px;
  padding-bottom: 6vh;
  text-align: center;
}


#work-heading {
  grid-area: work;
  border-right: 2px solid green;
}

#feature-project {
  grid-area: feature-project;
  background-image: url(../images/02-portfolio-2.jpg);
  height: 30vh;
  background-size: cover;


}

#project2 {
  grid-area: project2;
  background-image: url(../images/02-portfolio-1.jpg);
}

#project3 {
  grid-area: project3;
  background-image: url(../images/02-portfolio-4.jpg);
}

#project4 {
  grid-area: project4;
  background-image: url(../images/02-portfolio-3.jpg);

}

#project5 {
  grid-area: project5;
  background-image: url(../images/02-portfolio-2.jpg);
}

#project6 {
  grid-area: project6;
  background-image: url(../images/02-portfolio-3.jpg);
}

.contact-grid {
  display: flex;
  justify-content: space-between;
}

#contact-heading {
  border-right: 2px solid green;
  flex: 0 0 20%;
}

#contact-info {
  flex: 0 0 80%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

@media screen and (max-width: 1500px) {
  #image-card {
    right: 15%;
    max-width: 65%;
  }
  
  .contact-grid {
    flex-direction: column;
  }

  #contact-heading {
    border-right: none;
    border-bottom: 2px solid green;
    text-align: center;
    flex: 0 0 40%;
    margin: auto;
  }
}